<div class="jumbotron text-center" style="background-color:rgb(112, 181, 241);">
        <h1>TRUONGMOBILE</h1>
        <p>LOGIN</p> 
      </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <form role="form"  method="POST">
            <div class="box box-info ">
 
              <div class="box-body"  >
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="text" class="form-control" placeholder="Username" name="username" />
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">#</span>
                  <input type="text" class="form-control" placeholder="Password" name="password" />
                </div>
                <br/>

                <div>
                 <button type="submit" class="btn btn-primary btn-block"><a>Login</a></button>
                  {{!-- <button type="button" class="btn btn-default btn-block">Register</button> --}}
                   </form>
                </div>
                </div>
          </div>
       
        </div>
      </div>
