<div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>TRUONG</b>MOBILE</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
            
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>

              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
            
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="public\images\meo.jpg" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">Đỗ Võ Anh Trường</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="public\images\meo.jpg" class="img-circle" alt="User Image" />
                    <p>
                     Đỗ Võ Anh Trường - Ad Mobile Shop
                      <small>Member since Nov. 2021</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
            
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="public\images\meo.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Đỗ Võ Anh Trường</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
    
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="Home.html">
                <i class=" fa fa-dashboard"></i>
                <span>Home</span> <small class="label pull-right bg-green">new</small>
              
              </a>
            </li>
            <li>
              <a href="Classify.html">
                <i class="fa fa-th"></i> <span>Classify</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Product</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Setting</span>
                
              </a>
            </li>
        
        </section>
        <!-- /.sidebar -->
      </aside>

      <div class="modal fade " id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
        
          <!-- Modal content-->
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Product information</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- text input -->
                <div class="form-group">
                  <label>Product Image</label>
                  <input type="file" id="file" aria-label="File browser example">
                </div>
                <div class="form-group">
                  <label>Product name</label>
                  <input type="text" class="form-control" placeholder="Enter ..."/>
                </div>
                <div class="form-group">
                  <label>Infomation</label>
                  <input type="text" class="form-control" placeholder="Enter ..."/>
                  <div class="form-group">
                      <label>Amount</label>
                      <input type="text" class="form-control" placeholder="Enter ..."/>
                    </div>
                    <div class="form-group">
                      <label>Price</label>
                      <input type="text" class="form-control" placeholder="Enter ..."/>
                    </div>
                    <div class="form-group">
                      <label>Classify</label>
                      <br/>
                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1"  value="option1" checked>Option 1</label>

                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1"  value="option1" checked>Option 1</label>

                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" value="option1" checked>Option 1</label>

                      <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1"  value="option1" checked>Option 1</label>

                      
                    </div>

                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-block"><a href="#">Add Product</a></button>
                      
                    </div>

                </div>
              </form>
            </div><!-- /.box-body -->
          </div>

          
        </div>
      </div>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Product
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Product</a></li>
          
          </ol>
        </section>

        <Section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Product</h3>
              </div><!-- /.box-header -->
              <!-- form start -->
              <div class="box">
         
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Information</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Classify</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="dist/img/meow.jpg"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                        <td>Trident</td>
                        <td>Internet
                          Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                      </tr>
                      <tr>
                        <td><img src="dist/img/meow.jpg"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                        <td>Trident</td>
                        <td>Trident</td>
                        <td>Internet
                          Explorer 5.0</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                      </tr>
                      <tr>
                        <td><img src="dist/img/meow.jpg"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                        <td>Trident</td>
                        <td>Trident</td>
                        <td>Internet
                          Explorer 5.5</td>
                        <td>Win 95+</td>
                        <td>Win 95+</td>
                      </tr>
                      <tr>
                        <td><img src="dist/img/meow.jpg"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                        <td>Trident</td>
                        <td>Trident</td>
                        <td>Internet
                          Explorer 6</td>
                        <td>Win 98+</td>
                        <td>Win 95+</td>
                      </tr>
                      <tr>
                        <td><img src="dist/img/meow.jpg"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                        <td>Trident</td>
                        <td>Trident</td>
                        <td>Internet Explorer 7</td>
                        <td>Win XP SP2+</td>
                        <td>Win 95+</td>
                      </tr>
              
                 <tfoot>
                     <tr>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Add product</button>
                     </tr>
                 </tfoot>
                
                    </tbody>

                  </table>
                </div><!-- /.box-body -->
              </div>
            </div>

          </div><!--/.col (left) -->

          <div class="col-md-4">
            <div class="box box-warning">
              <div class="box-header">
                <h3 class="box-title">Product information</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <form role="form">
                  <div class="form-group">
                    <label>Product Image</label>
                    <input type="file" id="file" aria-label="File browser example">
                  </div>
                  <!-- text input -->
                  <div class="form-group">
                    <label>Product name</label>
                    <input type="text" class="form-control" placeholder="Enter ..."/>
                  </div>
                  <div class="form-group">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Enter ..."/>
                    <div class="form-group">
                        <label>Information</label>
                        <input type="text" class="form-control" placeholder="Enter ..."/>
                      </div>
                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" placeholder="Enter ..."/>
                      </div>
                      <div class="form-group">
                        <label>Classify</label>
                        <br/>
                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1</label>

                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1</label>

                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1</label>

                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1</label>

                        
                      </div>

                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block"><a href="Home.html">Edit Classify</a></button>
                        <button type="button" class="btn btn-default btn-block"><a href="Home.html">Delete Classify</a></button>
                      </div>

                  </div>
                </form>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div><!--/.col (right) -->
        </div>   <!-- /.row -->
      </section>
      
            </section><!-- /.Left col -->
          </div><!-- /.row (main row) -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>
    